.main {
  display: flex;
  flex-direction: column;
  padding: 30px 140px 30px 36px;
  margin-left: 264px;
}
.paragraph {
  letter-spacing: 2%;
  line-height: 32px;
}
.add{
  display: flex;
  flex-direction: column;
}
.code{
  max-width: calc(100% - 20px);
  width: 100%;
  padding: 10px 0 10px 20px;
}
@media (max-width: 660px) {
  .main {
    margin: 0;
    padding: 70px 15px 80px 11px;
  }
}
